<div ng-model="movie">

    <h1>{{movie.title}}
        <span>
            <button ng-click="like()" type="button" class="btn btn-default" ng-disabled="!authenticated" ng-hide="movie.likes">Like</button>
            <button type="button" class="btn btn-info" ng-show="authenticated && movie.likes" disabled="disabled">Liked!</button>
        </span>
    </h1>

    <h2>Genres:</h2>
    <ul>
        <li ng-repeat="genre in movie.genres"><a href="#/catalog/genre/{{genre.mlId}}">{{genre.name}}</a></li>
    </ul>

    <h2>Reviews:</h2>
    <a href="#/catalog/movie/{{movie.mlId}}/review" ng-disabled="!authenticated" class="btn btn-primary">Add Review</a>
</div>

<div class="list-group" ng-model="movie">
    <div ng-repeat="review in movie.reviews" class="list-group-item">
        <span class="badge">{{review.rating}}</span>
        <h4>{{review.userName}}</h4>

        <p>{{review.review}}</p>
    </div>
</div>

<div ng-model="movie">
    <h2>Recommendations:</h2>
    <ul>
        <li ng-repeat="recommendation in movie.recommendations">
            <a href="#/catalog/movie/{{recommendation.mlId}}">{{recommendation.title}}</a>
        </li>
    </ul>
</div>
